src/main/app/mule-global-setting.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<!-- Get properties from Global Environment Config, api.properties and api-override.properties -->
	<spring:beans>
	    <spring:import resource="classpath*:environment-loader-config-v2.xml" />
	</spring:beans>
 
  	
	<spring:beans>
		

		
		
		<!--  Datasource -->
		<spring:bean id="jdbcDataSource" class="org.enhydra.jdbc.standard.StandardDataSource" destroy-method="shutdown">
		    <spring:property name="driverName" value="oracle.jdbc.driver.OracleDriver"/>
		    <spring:property name="url" value="${es.db.com.url}"/>
		    <spring:property name="user" value="${es.db.com.username}"/>
		    <spring:property name="password" value="${es.db.com.password}"/>
		</spring:bean>

	</spring:beans>

	
<!--  
	<flow name="admin-status" doc:name="admin-status" initialState="started" >
	<http:listener config-ref="SharedHttpListenerConfig" path="${es.mule.publish-client-to-com.admin.url}/*" doc:name="HTTP"/>
     
     <set-payload doc:name="adminPayload" name="adminPayload" value="{ &quot;status&quot; : &quot;OK&quot;, &quot;message&quot; : &quot;Publish Client to COM service is available&quot;, &quot;host&quot; : &quot;#[server.host]&quot;, &quot;locale&quot; : &quot;#[server.locale]&quot;, &quot;appName&quot; : &quot;#[app.name]&quot;, &quot;flowName&quot; : &quot;admin-status&quot;,&quot;version&quot; : &quot;${service.version}&quot; }" />
	 <json:object-to-json-transformer doc:name="Object to JSON"/>     
    </flow>
-->
</mule>